* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto";
    font-style: normal;
  
    background-color: #ffffff;
  
    padding-top: 54px;
  }
  
  .menuTopo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: #ffffff;
  
    height: 54px;
    width: 935px;
  
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -467.5px;
    z-index: 7;
  }
  
  .logoDaPagina {
    display: flex;
    align-items: center;
  }
  
  .logoDaPagina img {
    width: 103px;
    height: 29px;
  }
  
  .separador-vertical {
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
    margin-left: 11.38px;
    margin-right: 10px;
  }
  
  input {
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
  }
  
  .pesquisa {
    margin-left: 23%;
    margin-right: 23%;
  }
  
  .busca {
    width: 215px;
    height: 28px;
  }
  
  .iconesDoMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 164.5px;
  }
  
  .icone {
    width: 22px;
    height: 22px;
  }
  
  .separadorHeader{
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
  
    position: fixed;
    top: 54px;
  }
  
  .conteudo {
    width: 935px;
  
    display: flex;
  
    margin: 0 auto;
    margin-top: 34px;
  }
  
  .stories {
    width: 614px;
    height: 118px;
  
    border: 1px solid #dbdbdb;
  
    margin-bottom: 24px;
  
    display: flex;
    align-items: center;
  
    overflow: hidden;
  
    position: relative;
  }
  
  .icone-stories {
    width: 66px;
    height: 85px;
  
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .icone-stories {
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 14px;
  }
  
  .foto-icone {
    position: absolute;
    top: 6px;
    left: 1px;
  
    margin-left: 23px;
  
    cursor: pointer;
  }
  
  .icone-stories .background {
    width: 68px;
    height: 68px;
    margin-left: 18px;
  }
  
  .icone-stories .foto-icone img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 6px;
  }
  
  .setinha {
    position: absolute;
    right: 8px;
    bottom: 46px;
  
    width: 26px;
    height: 26px;
  
    color: #ffffff;
  
    cursor: pointer;
  }
  
  .posts {
    width: 614px;
    height: 789px;
  
    border: 1px solid #dbdbdb;
    margin-bottom: 60px;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 60px;
  
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .box-usuario {
    display: flex;
    align-items: center;
  }
  
  .usuario img {
    width: 32px;
    height: 32px;
  
    margin-left: 17px;
    margin-right: 15px;
    border-radius: 50%;
  }
  
  .usuario .tres-pontos {
    margin-right: 18px;
  }
  
  .separadorFeed{
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
  }
  
  .fotos img {
    width: 612px;
    height: 612px;
  }
  
  .iconesInferioresDaFoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-left: 17.75px;
    margin-top: 12.06px;
    width: 84.12px;
  }
  
  .icones-foto {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icone-salvar {
    margin-right: 17.63px;
  }
  
  .dimensao {
    width: 22px;
    height: 22px;
  }
  
  .curtidas-usuarios {
    display: flex;
    align-items: center;
  
    margin-top: 12px;
  
    font-weight: 300;
    font-size: 14px;
    line-height: 16.41px;
  }
  
  .mini-icone {
    width: 20px;
    height: 20px;
  
    margin-left: 17px;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  strong {
    font-weight: 500;
  }
  
  .colunaStoriesEFeed {
    height: 2000px;
    overflow: hidden;
  }
  
  .colunaPerfilESugestoes {
    width: 321px;
    position: fixed;
    padding-top: 90px;
    left: 58.5%;
    top: 0;
  }
  
  .meu-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    margin-left: 29px;
    width: 292px;
    height: 118px;
  }
  
  .icone-perfil {
    display: flex;
    align-items: center;
  
    margin-top: 23px;
    margin-bottom: 11px;
  }
  
  .icone-perfil img {
    width: 56px;
    height: 56px;
  
    border-radius: 50%;
  }
  
  .infos {
    display: flex;
    flex-direction: column;
  
    margin-left: 17px;
  }
  
  .nome {
    font-weight: 300;
    color: #8e8e8e;
  }
  
  .separador-horizontal3 {
    width: 100%;
    height: 9px;
  
    margin-bottom: 4px;
  }
  
  .sugestoes-para-voce {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  
    color: #8e8e8e;
  }
  
  .sugestoes-ver-tudo {
    width: 292px;
    display: flex;
    justify-content: space-between;
  }
  
  .ver {
    font-size: 12px;
  }
  
  .sugestoes {
    margin-left: 29px;
    margin-top: 18px;
  }
  .sugestoes img {
    width: 32px;
    height: 32px;
  
    border-radius: 50%;
  }
  
  .box-sugestoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-bottom: 16px;
  }
  
  .box-nome-img {
    display: flex;
  }
  
  .box-nome-sugestoes {
    display: flex;
    flex-direction: column;
  
    margin-left: 11px;
  }
  
  .segue-voce {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  
    color: #8e8e8e;
  }
  
  .nome-sugestoes {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  
    color: #262626;
  }
  
  .seguir {
    font-size: 12px;
    color: #139ef2;
  }
  
  .links {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  
    margin-left: 29px;
  
    color: #c7c7c7;
  }
  
  .fim {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  
    color: #c7c7c7;
  
    margin-top: 18px;
    margin-left: 29px;
  }
  
  @media (max-width: 935px) {
  
    .menuTopo{
      width: 100%;
    }

    .colunaPerfilESugestoes {
      display: none;
    }
  
    .colunaStoriesEFeed {
      margin-left: 10%;
    }
  }
  
  @media (min-width: 615px) {
    .icone-aviao {
      display: none;
    }
  }
  
  @media (max-width: 614px) {
    .colunaStoriesEFeed {
      margin-left: 0;
      width: 100%;
    }
  
    .stories {
      width: 100%;
    }
  
    .menuTopo {
      width: 100%;
      left: 467.5px;
    }
  
    body {
      width: 100%;
    }
  
    .conteudo {
      width: 100%;
    }
  
    .feed {
      width: 100%;
    }
  
    .posts {
      width: 100%;
    }
  
    .usuario {
      width: 100%;
    }
  
    .fotos img {
      width: 100%;
    }
  
    .pesquisa {
      display: none;
    }
  
    .icone-none {
      display: none;
    }
  
    .separador-vertical {
      display: none;
    }
  
    .iconesDoMenu {
      display: none;
    }
  
    .logoDaPagina{
      width: 60%;
      justify-content: space-between;
    }
  
    .setinha {
      display: none;
    }
  
    .stories {
      border: none;
      background: none;
      margin-bottom: 0;
    }
  
    body {
      padding-top: 20px;
    }
  }
  
  @media (max-width: 1500px) {
    .colunaPerfilESugestoes {
      left: 60%;
    }
  }
  
  @media (max-width: 1300px) {
    .colunaPerfilESugestoes {
      left: 62.5%;
    }
  }
  